.App {
  text-align: center;
}

table {
  width: 100%;
}
thead tr{
  border-bottom: none;
}
th {
  text-align: center;
  cursor: pointer;
}
tr {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
}
tr:first-child {
  border-top: 1px solid rgba(0,0,0,.125);
}
.list-group-item {
  box-sizing: border-box;
  border: none;
  padding: .5rem 1.25rem;
  margin-bottom: 0px;
  width: 39%;
  border-right: 1px solid rgba(0,0,0,.125);
  padding: .3rem .7rem;
  overflow: hidden;
}
.list-group-item:first-child {
  width: 6%;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
}
.list-group-item:last-child {
  width: 26%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: none;
}
#loading {
  height: 50px;
  justify-content: center;
  align-items: center;
}